* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    --black: #191A19;
    --white: #ddd;
    --green: #519872;
}

h1 {
    font-size: 1.7rem;
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover,
a:focus {
    filter: brightness(0.6);
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid var(--white);
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.home-menu {
    height: 6vh;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
    background: var(--green);
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    font-weight: bold;
    font-size: 120%;
}

.pure-menu-heading, .pure-menu-link {
    color: var(--black);
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: var(--white);
}

@media (min-width: 48em) {
    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }
}

.header {
    height: 6vh;
    color: var(--white);
}

main {
    display: flex;
    height: 88vh; /* 100 - 6 - 6 */
    flex-direction: column;
    background: var(--black);
    color: var(--white);
}

main > div {
    flex: 1;
    padding: 2vh 0;
}

.upload, .results {
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100vw;
    /*background: #5256ad;*/
}

.results, .last_results {
    padding: 0 5vw;
}

.drag-area {
    border: 2px dashed var(--white);
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.drag-area.active {
    border: 2px solid var(--white);
}

.drag-area .icon {
    font-size: 100px;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: var(--white);
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: var(--white);
    color: var(--black);
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.last_results table {
    width: 100%;
}

.footer {
    height: 6vh;
    background: var(--black);
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1em;
    text-align: center;
}
