<!doctype html>

<head>
    {% if results %}
    <title>Scanner ({{ results.infos.filename }})</title>
    {% else %}
    <title>Scanner</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico')}}">
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <div>
            <img class="header-logo" src="{{ url_for('static',filename='img/favicon.ico')}}" />
            <a class="pure-menu-heading" href="/">File scanner</a>
        </div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/#upload" class="pure-menu-link">Upload</a></li>
                {% if results %}
                <li class="pure-menu-item"><a href="#infos" class="pure-menu-link">Infos</a></li>
                <li class="pure-menu-item"><a href="#extractors" class="pure-menu-link">Extractors</a></li>
                <li class="pure-menu-item"><a href="#actions" class="pure-menu-link">Actions</a></li>
                {% endif %}
                {% if last_results %}
                <li class="pure-menu-item"><a href="#last_results" class="pure-menu-link">Last results</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <main>
        {% if not results %}
        <a id="upload" class="anchor"></a>
        <div class="upload">
            <div class="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop to upload file</header>
                <span>OR</span>
                <button>Browse file</button>
                <input type="file" hidden>
            </div>
        </div>
        {% else %}
        <div id="results" class="results">
            <h1>Analysis results</h1>
            <a id="infos" class="anchor"></a>
            <h2>Infos</h2>
            <ul>
                <li>Filename: {{ results.infos.filename }}</li>
                <li>Last update: {{ results.infos.last_update }}</li>
                <li>Hash: <span id="infos-hash">{{ results.infos.sha1 }}</span></li>
            </ul>
            <a id="extractors" class="anchor"></a>
            <h2>Extractors</h2>
            <dl>
                {% set outline = "line" %}
                {% for key, value in results.extractors.items() recursive %}
                <h3>{{ key }}</h3>
                {% if value is string %}
                <textarea readonly="readonly">{{ value }}</textarea>
                {% elif value is mapping %}
                {{ loop(value.items()) }}
                {%endif%}
                {% endfor %}
            </dl>
            <a id="actions" class="anchor"></a>
            <h2>Actions</h2>
            <div class="actions-area">
                <button id="action-rerun" class="pure-button open-modal">Rerun analysis</button>
                <button id="action-save" class="pure-button">Export</button>
            </div>
        </div>
        {% endif %}

        {% if last_results %}
        <div class="last_results">
            <a id="last_results" class="anchor"></a>
            <h1>Last results</h1>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Last update</th>
                        <th>SHA1</th>
                        <th>Filename</th>
                        <th>Analyse</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in last_results %}
                    <tr>
                        <th>{{ result.last_update }}</th>
                        <th>{{ result.sha1 }}</th>
                        <th>{{ result.filename }}</th>
                        <th><a href="/r/{{ result.sha1 }}">GO</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </ul>
        </div>
        {% endif %}

    </main>

    <div class="footer"></div>

    {% if not results %}
    <script src="{{ url_for('static',filename='scripts/dragndrop.js') }}"> </script>
    {% else %}
    <script src="{{ url_for('static',filename='scripts/actions.js') }}"> </script>
    {% endif %}
    <script src="{{ url_for('static',filename='scripts/random.js') }}"> </script>
    <script src="{{ url_for('static',filename='scripts/modal.js') }}"> </script>



    <div class="modal">
        <div class="modal__inner">
            <h2>Loading</h2>
            <img src="" alt="" />
        </div>
    </div>

</body>

</html>
